/* **** The flip box container - set the width and height to whatever you want.
/* **** We have added the border property to demonstrate that the flip itself goes 
/*   *** out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  background-color: transparent;
  width:700px; /* doit rester fixe pour le wrap */
  height: 450px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  font-size:35px;
}

/* **** This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  padding : 5px 0px; 
}

/* ****Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* **** Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* **** Style the front side */
.flip-box-front {
  background-color:whitesmoke;
  color: black;
/* padding-bottom :55px; */
}

/* **** Style the back side */
.flip-box-back {
  background-color: var(--main-color);
  color: white;
  transform: rotateY(180deg);
}
/*   mes css */
/*   ****** CarsToRent   *******  */
.contenairCars{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:black;
  padding: 10vw 7vw;  
  /* pour pseudo centrage horizontal */
}

  .carCard{
    width: 32vh;
    /* padding-top: 2vh; */
  }

  .block { 
    display: inline-block; 
    padding : 13px; /* marges autour des cartes */
  } 
.logoCars{
  height:30px;
}
  /* ***   breakpoints par défaut tu peux aussi t'inspirer de KNACSS  */
/* n'utiliser que du min-width, pour du mobile first. */
/* $tiny        : 480px !default; // or 'em' if you prefer, of course */
@media all {

}
/* $small       : 576px !default; */
@media (min-device-width: 576px) {
  .contenairCars{
    padding: 1vw 20vw;  
    /* pour pseudo centrage horizontal */
  }
  .flip-box {
    width: 500px; /* doit rester fixe pour le wrap */
    height: 350px;
    font-size: 30px;
  }
  .block { 
    display: inline-block; 
    padding : 5px; /* marges autour des cartes */
  } 

}

/* $medium      : 768px !default; */
@media (min-device-width: 768px) {
  .contenairCars{
    padding: 1vw 7vw;  
    /* pour pseudo centrage horizontal */
  }
  .flip-box {
    width: 350px; /* doit rester fixe pour le wrap */
    height: 280px;
    font-size: 20px;
  }
  .block { 
    display: inline-block; 
    padding : 2px; /* marges autour des cartes */
  } 

}
/* $large       : 992px !default; */
@media (min-device-width: 992px) {
  .contenairCars{
    padding: 3vw 7vw;  
    /* pour pseudo centrage horizontal */
  }
  .flip-box {
    width: 280px; /* doit rester fixe pour le wrap */
    height: 230px;
    font-size: 17px;
  }
  .block { 
    display: inline-block; 
    padding : 5px; /* marges autour des cartes */
  } 
}
/* $extra-large : 1200px !default;  */
@media (min-device-width: 1200px) {
  .contenairCars{
    padding: 3vw 4vw;  
    /* pour pseudo centrage horizontal */
  }
  .flip-box {
    width: 250px; /* doit rester fixe pour le wrap */
    height: 210px;
    font-size: 15px;
  }
  .block { 
    display: inline-block; 
    padding : 5px; /* marges autour des cartes */
  } 
}