/*  *** structure responsive en
<header></header>
<section >
<div>.autant que necessaire ...</div>
</section>*/

:root {
  /* *** Déclaration d'une variable cs / utilisation par  color: var(--main-color);   */
  --main-color:dimgray; 
  --red : #f44336; /* text princiapal */
}

.errorFormInscription{
  color: red;
  font-style: italic;
}
/* ***** adaptabilité du texte au viewport */
/*  **********  pour responsive   (mobile first  ) ************  */
html {
  font-size: 100%;
  /*  correctif pour un bug d'Internet Explorer Windows, % obligatoire pour utiliser em ensuite*/
  font-family: Helvetica, Verdana,  sans-serif;
}

body {
  background-color:white;
  /* font-size: 14px; */
  /*fallback, solution de repli (substitution pour les navigateurs anciens) */
  font-size: 1em;
  /* ma taille basic des fonts sur PC*/
  width: 100vw;
  margin: auto;
  padding-bottom: 30px;
  /* margin-top: 8vh; */
  color: var(--main-color);
}

/*  **********  header  ************  */
.contenair-flex{
  height: 8vh;
  display: flex;
  flex-direction: row-reverse;
  flex-flow: row wrap;
  justify-content:space-between;
  margin:0px;
  padding:0px;
  /* align-items: space-between; */
}

.element-flex{
  
  font-size : 2em;
  /* flex: 0 1 20%;   */
  /*  <flex-grow> <flex-shrink>  <flex-basis>  */
  height: 9vh;
     /* contexte sur le parent  & alignement vertical et horizontal dans leur cellule */
  display: grid;
  place-items: center;   /* alignement vertical DANS les div*/
}

.divACacher{
  /* div  (element-flex) à faire appatraire ou pas (pas tous) */
  visibility: hidden;
  /* width:10px; */
  border-color: orange;
}
.divLogoACacher{
  /* div  des logos (element-flex) à faire appatraire ou pas (pas tous) */
  visibility: hidden;
}

.p_iconeLogo{  /* paragraphe  */
  /* <p>  paragraphe contenant les logos accueil  */
  padding:0px 15px;
  /* visibility:hidden; */
  font-size:0.6em;
  margin: 0px 5px;

  text-align: center;
  color: var(--main-color);
}
.homeLogo{
  /* icone du menu gauche */
  font-size : 80px;
  margin-top: 20px;
}
.minifont{
  /* texte des icones bare accueil */
  color: var(--main-color);
}
.iconeConn{
  /* icone connexion accueil rectificatif  */
     font-size:20px;
      }
#imgLogoCar{
  width: 220px;
}

/*   ******  Home   *********  */

#myHomeChoiceImg{
  background-image: url("../img/fond_auto_ok.jpg");
  background-size: cover;
  text-align: center;
  background-position: center;
  width:100vw;
  margin: auto;
  /** centrage vertical */
  height: 25vh;
  position : relative;


}

/*.container {
  display: flex;
  align-items: center;
  justify-content: center;*/

#myHomeChoiceLocation{
  /*barr de selection location
    /*alignement vertical et horizontal des enfants dans leur cellule */
  display: grid;
  place-items: center;
  color: black;
  text-shadow: 2px 3px 4px wheat;
  backdrop-filter: invert(12%);
  font-size: 3em;
  width:100vw;
  /* height: 50vh; */
    /** centrage vertical */
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*   ******  fin Home  *********  */

section {
  width: 90vw;
  padding: 2em 3em;
  background-color: rgb(248,240,223);
  margin: auto;
  border: 1px solid black;
  border-radius: 5px 10px 0 5px;
  margin-top: 3rem;
  box-shadow: 6px 5px 4px rgba(136, 129, 129, 0.5);
}
/* Taille normale des titres sur un ordinateur */
h1 {
  /* font-size: 1.5em; */
  text-align: center;
}
#contenairVb{
  /* pour index.php  */
  display : inline-flex ;
  margin: auto;
}
table{
  /* pour view.php & index.php */
  color:chocolate;
  font-size: 10px;
}
td{
  padding: 2px 3px;
}
/*   *************  formulaires  **********  */
.form_label{
  color: red;
}
.form_input{
color:aqua;
}
/*   *************  FIN formulaires  **********  */ 

footer{
  text-align: center;
 }

.box {
  position: relative;
  width: 150px;
  height: 45px;
  margin: auto;
  box-shadow: 6px 5px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-bottom: 50px;
  }

  .bouton {
  margin: 50px 0px;
  background: rgb(248, 232, 197);
  padding: 7px 8px ;
  border: 1px solid black;
  line-height: 17px;
  border-radius: 3px;
  box-shadow: 3px 3px 2px rgba(136, 129, 129, 0.5);
  transition: 0.2s;
  text-decoration: none;
  color: black;
  }

  .bouton:hover {
  background-color: rgb(209, 190, 148);
  transition: 0.2s;
  }

  .bouton a {
  color: black;
  cursor: pointer;
  font-size: 1.2em;
  text-decoration: none;
  }
/*   ****** CarsToRent   *******  */
.contenairCars{
background-color: burlywood;
font-size: 12px;
}
/*  *************  Media Queries  ************
Si on utilise un petit écran (que ce soit avec un ordinateur dans
  une petite fenêtre ou avec un smartphone), la taille des fonts est réduite */
  /* ***   breakpoints par défaut tu peux aussi t'inspirer de KNACSS
n'utiliser que du min-width, pour du mobile first.
$tiny        : 480px !default; // or 'em' if you prefer, of course
$small       : 576px !default;
$medium      : 768px !default;
$large       : 992px !default;
$extra-large : 1200px !default; */
  
/*   ******* query 5 */
/* *****  Extra small devices (portrait phones, less than 576px) */
@media all { 
 /*  a completer */ 
}

/*   ******* query 4 */
/* ***** Small devices (landscape phones, 576px and up) */
@media (min-device-width: 576px) 
 { 
  section{
    width: 90vw;
    padding: 0 1em;
  }
  /*  **********  header  ************  */
  .contenair-flex{
    height: 10vh;
 }  
  .element-flex{
      font-size : 2em;
    height: 9vh;
  }  
  .divACacher{
    /* div  (element-flex) à faire appatraire ou pas (pas tous) */
    visibility: hidden;
  }
  .divLogoACacher{
    /* div  des logos (element-flex) à faire appatraire ou pas (pas tous) */
    visibility: hidden;
  }
  
  .p_iconeLogo{  /* paragraphe  */
    /* <p>  paragraphe contenant les logos accueil  */
    padding:0px 15px;  
  }
  .homeLogo{
    /* icone du menu gauche */
    font-size : 60px;
    margin-top: 10px;
  }
  .minifont{
    /* texte des icones bare accueil */
    color: var(--main-color);
  }
  .iconeConn{
    /* icone connexion accueil rectificatif  */
       font-size:20px;
        }
  #imgLogoCar{
    width:180px;
  }
 
#myHomeChoiceImg{
  /** centrage vertical */
  height: 30vh;
}

#myHomeChoiceLocation{
  /*barr de selection location
    /*alignement vertical et horizontal des enfants dans leur cellule */
  font-size: 3em;
  width:100vw;
  /* height: 50vh; */
}

}



/*   ******* query  3 */
/* ***  Medium devices (tablets, 768px and up)  */
@media (min-device-width: 768px) 
{ 
  section{
    width: 90vw;
    padding: 0 1em;
  }
  /*  **********  header  ************  */
  .contenair-flex{
    height: 10vh;
 }  
  .element-flex{
      font-size : 2em;
    height: 9vh;
  }  
  .divACacher{
    /* div  (element-flex) à faire appatraire ou pas (pas tous) */
    visibility: visible;
    width:25vw;
  }
  .divLogoACacher{
    /* div  des logos (element-flex) à faire appatraire ou pas (pas tous) */
    visibility: visible;
  }
  
  .p_iconeLogo{  /* paragraphe  */
    /* <p>  paragraphe contenant les logos accueil  */
    padding:0px 15px;  
  }
  .homeLogo{
    /* icone du menu gauche */
    font-size : 40px;
    margin-top: 10px;
  }
  .minifont{
    /* texte des icones bare accueil */
    color: var(--main-color);
  }
  .iconeConn{
    /* icone connexion accueil rectificatif  */
       font-size:20px;
        }
  #imgLogoCar{
    width:180px;
  }
  #myHomeChoiceImg{
    /** centrage vertical */
    height: 30vh;
  }  
  #myHomeChoiceLocation{
    /*barr de selection location
      /*alignement vertical et horizontal des enfants dans leur cellule */
    font-size: 3em;
    width:100vw;
    /* height: 50vh; */
  }
}


    /*   ******* query  2*/
    /*  ***  Large devices (desktops, 992px and up) */
@media (min-device-width: 992px)   
    {
      body {
        font-size: 1.2em;
     }
     section{
       width: 90vw;
       padding: 0 2em;
     }
     #myHomeChoiceImg{
           /* image de fond accueil (home)  */ 
       height: 40vh;
     }
   /*  **********  header  ************  */
   .contenair-flex{
     height: 9.5vh;
     font-size: 1.7em;
     }
   .element-flex{
       height: 9vh;
   }
   .divACacher{
     /* div  (element-flex) à faire appatraire ou pas (pas tous) */
     justify-content:right;
     visibility:visible;
   }
   .divLogoACacher{
     /* div  des logos (element-flex) à faire appatraire ou pas (pas tous) */
     visibility:visible;
     padding: 0px;
   }
   .p_iconeLogo{  /* paragraphe  */
     /* <p>  paragraphe contenant les logos accueil  */
     padding:0px 2px;
     color: var(--main-color);
   }
   .homeLogo{
     /* icone du menu gauche */
     font-size : 40px;
   }
   .minifont{
     /* texte des icones bare accueil */
     color: var(--main-color);
     font-size: 0.2em;  
   }
   .iconeConn{
     /* icone connexion accueil rectificatif  img */
        font-size:28px;     
       }
   #imgLogoCar{
     width: 120px;
   }
  
  }

  
/*   *******  query  1 */
/* *** Extra large devices (large desktops, 1200px and up)  */
@media (min-device-width: 1200px) 
 {
  body {
     font-size: 0.7em;
  }
  section{
    width: 90vw;
    padding: 0 2em;
  }
  #myHomeChoiceImg{
        /* image de fond accueil (home)  */ 
    height: 40vh;
  }
/*  **********  header  ************  */
.contenair-flex{
  height: 9.5vh;
  font-size: 1.7em;
  }
.element-flex{
 height: 9vh;
}
.divACacher{
  /* div  (element-flex) à faire appatraire ou pas (pas tous) */
  justify-content:right;
  visibility:visible;
}
.divLogoACacher{
  /* div  des logos (element-flex) à faire appatraire ou pas (pas tous) */
  visibility:visible;
}
.p_iconeLogo{  /* paragraphe  */
  /* <p>  paragraphe contenant les logos accueil  */
  padding:0px 2px;
  color: var(--main-color);
}
.homeLogo{
  /* icone du menu gauche */
  font-size : 30px;
}
.minifont{
  /* texte des icones bare accueil */
  color: var(--main-color);
  font-size: 0.4em;  
}
.iconeConn{
  /* icone connexion accueil rectificatif  img */
     font-size:20px;     
    }
#imgLogoCar{
  width: 120px;
}
 }




  /*   ******* query  0 imprimante */
@media print{

  body {
    font-size: 1.15em;
    color:black;
  }

}
/* ppour mémoire   */
/* header  */
  /* //background-image: url("../img/guirlande.jpg");  */
  /* background-color: lightsalmon; */
  /* background-repeat: no-repeat; */
  /* background-size: cover;
  background-position: center;
    /* limité à 1/3 de hauteur de viewport */
  /* height:20vh;

    /* contexte sur le parent */
  /* display: grid; */
  /*alignement vertical et horizontal des enfants dans leur cellule */
  /* place-items: center;

  /* text-align: center;*/
  /* opacity: 0.7;  */
  /* position:sticky;
  top : 0px; */
  /*: 100vw;*/
  /* limité à 1/3 de hauteur de viewport */
  /* height: 35vh; */
 /* background-position-x: center;*/
