/*structure responsive en 
<header></header>
<section > 
<div>.autant que necessaire ...</div>
</section>*/

/* ***** adaptabilité du texte au viewport */
html {
  font-size: 100%;
  /*  correctif pour un bug d'Internet Explorer Windows, % obligatoire pour utiliser em ensuite*/
  font-family: Helvetica, Verdana,  sans-serif;
  background-color:rgb(241, 209, 200);
}

body {
  font-size: 14px;
  /*fallback, solution de repli (substitution pour les navigateurs anciens) */
  font-size: 0.7em;
  /* ma taille basic des fonts sur PC*/
  width: 700px;
  margin: auto;
  background-color: white;
  padding-bottom: 30px;
}


header {
  padding : 0px;
  /* //background-image: url("../img/guirlande.jpg");  */
  background-color: white;
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-position: center;
    /* limité à 1/3 de hauteur de viewport */
  height:30vh;
  text-align: center;
  color: black;
  text-shadow: 2px 3px 4px wheat;
  font-size: 6em;
    /* contexte sur le parent */
  display: grid;
  /*alignement vertical et horizontal des enfants dans leur cellule */
  place-items: center;
  /* position:sticky;
  top : 0px; */
  /*: 100vw;*/
  /* limité à 1/3 de hauteur de viewport */
  /* height: 35vh; */
  /* contexte sur le parent */
  /* display: grid; */
  /* alignement vertical et horizontal des enfants dans leur cellule */
  /* place-items: center;
  //text-align: center;
  //color: black;
 // text-shadow: 2px 3px 4px wheat;
  //font-size: 5em;
  //background-color: white;

 */
  
 /* background-position-x: center;*/
  /* opacity: 0.7; */
}

#headerHosp {
  background-image: url("../img/colyseum.jpg");
}
.header{
  backdrop-filter: blur(2px);
  text-align: center;
  color:red;
  height: 30vh;
  padding-top: 8vh;
}
/* #title1{
  font-size: 1em;
  opacity: 1;
} */


#titreExo, #footer{
width: 70%;
margin: auto;
background-color: rgb(248,240,223);
border: 1px solid black;
border-radius: 10px;
text-align: center;
padding-bottom: 20px;
margin-top: 20px;
}

section {
  width: 80%;
  padding: 2em 3em;
  background-color: rgb(248,240,223);
  margin: auto;
  border: 1px solid black;
  border-radius: 5px 10px 0 5px;
  margin-top: 3rem;
  box-shadow: 6px 5px 4px rgba(136, 129, 129, 0.5);
}
/* Taille normale des titres sur un ordinateur */
h1 {
  font-size: 1.5em;
  text-align: center;
}
#contenairVb{
  display : inline-flex ;
  margin: auto;
}
table{
  color:chocolate;
  font-size:small;
}
td{
  padding: 2px 10px;
}
footer{
  text-align: center;
 }

.box {
  position: relative;  
  width: 150px;  
  height: 45px;  
  margin: auto;  
  box-shadow: 6px 5px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-bottom: 50px;
  
  }
  
  .bouton {
  margin: 50px 0px;
  background: rgb(248, 232, 197); 
  padding: 7px 8px ;
  border: 1px solid black;
  line-height: 17px;  
  border-radius: 3px;  
  box-shadow: 3px 3px 2px rgba(136, 129, 129, 0.5);
  transition: 0.2s; 
  text-decoration: none;
  color: black;
  }
  
  .bouton:hover {  
  background-color: rgb(209, 190, 148); 
  transition: 0.2s;
  }
  
  .bouton a {  
  color: black;
  cursor: pointer;  
  font-size: 1.2em;  
  text-decoration: none;  
  }

  
#myForm{
  background-color: crimson;
}

/*  *************  Media Queries  ************
Si on utilise un petit écran (que ce soit avec un ordinateur dans 
  une petite fenêtre ou avec un smartphone), la taille des fonts est réduite */
  @media all and (max-device-width: 1050px) {
    body {
       font-size: 1.30em;
    }
    header{
      font-size: 4em;
    }
    h1 {
      font-size: 1.1em;
    }
    }
@media all and (max-device-width: 510px){
  body {
    font-size: 1.25em;
  }
  section{
    width: auto;
    padding: 0 2em;
  }
  header{
    font-size: 2.5em;
    height: 25vh;
  }
  h1 {
    font-size: 1em;
  }
}


@media all and (max-device-width: 320px){
  body {
    font-size: 1.15em;
  }
  header{
    font-size:2.5em;
    height: 20vh;
  }
  section{
    width: auto;
    padding: 0 1em;
  }
  h1 {
    font-size: 0.9em;
  }
}
@media print{
  body {
    font-size: 1.15em;
    color:black;
  }
  header{
    font-size: 3em;
    height: 10vh;
  }
  h1 {
    font-size: 1.35em;
  }
}
